
h4 {
    color: royalblue;
}

.button {
    float: left;
    margin-left: 20px;
}

.add {
    width: 500px;
}

.buttonDown {
    position: center;
    top: 27px;
    right: 60px;
}

.addType {
    width: 200px;
}

.datePicker {
    width: 150px;
    margin-right: 20px;
}

.cssClass