.lfr-form-row-exist {
  padding-bottom : 0!important;
  border-bottom: 0!important;
}
.lfr-form-row-exist > .lfr-autorow-controls {
  display: none!important;
}

.search-container td{
  height: 50px !important;
  width: 40px  !important;
}